#Проигнорируйте файлы, находящиеся в подкаталоге tmp и файлы, заканчивающиеся суффиксами _old, _backup.
tmp/

*.*_old

*.*_backup

# Убедитесь, что также проигнорированы файлы (Thumbs.db и .DS_Store).
**/Thumbs.db 
**/.DS_Store
img/.DS_Store